    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto+Slab:wght@400;900&display=swap');
    /* 
font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;
*/
    
    html {
        font-size: 10px;
    }
    
    body {
        font-family: 'Lato', sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
    }
    
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        margin: 0;
    }
    
    .container {
        width: 1170px;
        margin: 0 auto;
    }
    
    header {
        background-color: #070808;
        color: white;
        padding: 22px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    
    h3 {
        font-size: 2.2rem;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .fa-code {
        color: #3dcfca;
        font-size: 2.2rem;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    
    header ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    
    header ul li {
        margin-left: 68px;
    }
    
    header ul li a,
    .navbar h3 a {
        text-decoration: none;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
    
    header ul li a:hover,
    header ul li a.active {
        color: #3dcfca;
        border-bottom: 2px solid #3dcfca;
    }
    
    .intro {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 650px;
    }
    
    .naslov {
        font-size: 3rem;
        color: white;
        text-align: center;
        padding-top: 200px;
    }
    
    .intro span {
        color: #3dcfca;
    }
    
    .section-title {
        text-align: center;
        font-size: 2.5rem;
        margin-top: 35px;
        margin-bottom: 30px;
    }
    
    .about-p {
        text-align: justify;
        width: 100%;
        padding-top: 20px;
        margin-left: 25px;
    }
    
    .about-div {
        display: flex;
        justify-content: center;
    }
    
    .about-div img {
        width: 235px;
    }
    
    .portfolio-div {
        display: flex;
        justify-content: space-between;
    }
    
    #portfolio figure {
        border: 1px #cccccc solid;
        padding: 4px;
    }
    
    #portfolio figcaption {
        padding: 2px;
        font-style: italic;
        text-align: center;
    }
    
    #portfolio figure a {
        color: #000;
        text-decoration: none;
    }
    
    #portfolio figure a:hover {
        color: #3dcfca;
        border-bottom: 2px solid #3dcfca;
    }
    
    #contact {
        text-align: center;
        font-size: 2rem;
    }
    
    form input {
        width: 350px;
        height: 35px;
        margin: 5px;
        font-family: 'Lato', sans-serif;
    }
    
    form button {
        height: 30px;
        width: 150px;
        font-family: 'Lato', sans-serif;
        margin-bottom: 25px;
    }
    
    #contact a {
        text-decoration: none;
        color: black;
    }
    
    a:hover {
        color: #3dcfca;
    }
    
    footer {
        background-color: #070808;
        color: white;
        padding: 15px;
        width: 100%;
    }
    
    footer .footbar {
        display: flex;
        justify-content: space-between;
    }
    
    footer ul {
        display: flex;
        justify-content: space-between;
        font-size: 3.5rem;
        list-style: none;
    }
    
    footer ul li {
        margin-left: 40px;
        font-size: 3rem;
    }
    
    footer ul a {
        text-decoration: none;
        color: white;
    }
    
    footer ul a:hover {
        color: #3dcfca;
        border-bottom: 2px solid #3dcfca;
    }
    
    footer .footbar h4 {
        padding-top: 10px;
        letter-spacing: 0.15rem;
    }